{% extends 'base.html' %}
{% block title %}Acerca{% endblock %}
{% block inicio %}{% endblock %}
{% block content %}
<aside class="callout" style="background: url(../static/images/admin.jpg) no-repeat center center scroll;">
  <div class="text-vertical-center">
      <h1 style="color: #fff">Acerca de nosotros</h1>
  </div>
</aside>
<div id="fh5co-contact" data-section="contacto">
  <h1 class="text-center">Ubicacion</h1>
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center">
        <div class="google-maps">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1682.445442371419!2d-116.9865693810516!3d32.50234542049274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1459306630229" width="1140" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
