{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Blog {% endblock %}
{% block inicio %}
<li class="active"><a href="" data-nav-section="home"><span>Inicio</span></a></li>
{% endblock %}
{% block carrousel %}
<div id="slider" data-section="home">
  <div class="owl-carousel owl-carousel-fullwidth">
    <!-- You may change the background color here. -->
    <div class="item" style="background: #ff9900">
      <div class=""></div>
      <div class="container" style="position: relative;">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text">
                <h1 class="fh5co-lead to-animate">Articulos de Interes</h1>
              <h3 class="fh5co-sub-lead to-animate">En esta seccion encontraras ariculos de ayuda publicados por nuestro equipo para brindar orientacion</h3>
              <p class="to-animate-2"><a href="#" data-nav-section="press" target="_blank" style="background-color: #cc7a00" class="btn btn-primary btn-lg">Informate!</a></p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="item" style="background: #e600e6;">
      <div class="container" style="position: relative;">
        <div class="row">
          <div class="col-md-7 col-sm-7">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text">
                <h1 class="fh5co-lead to-animate">No dejes de aprender</h1>
              <h2 class="fh5co-sub-lead to-animate">Todo lo que necesitas saber sobre el TDAH se encuentra aqui, investiga y aprende</h3>
              <p class="to-animate-2"><a href="#" data-nav-section="press" target="_blank" style="background-color: #b300b3" class="btn btn-primary btn-lg">Informate!</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 iphone-image">
            <div class="iphone to-animate-2"><img src="{% static 'images/info.png' %}" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<div id="fh5co-press" data-section="press">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext single-animate animate-press-2">
            <h3>Ultmos Articulos</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {% for post in object_list %}
      <div class="col-md-6">
        <!-- Press Item -->
        <div class="fh5co-press-item to-animate">
          <div class="fh5co-press-img" style="background-image: url({{post.post_imagen.url}})">
          </div>
          <div class="fh5co-press-text">
            <h3 class="h2 fh5co-press-title">{{post.titulo}} <span class="fh5co-border"></span></h3>
            <h4>{{post.categorias}}</h4>
            <p>{{post.desc}}</p>
            <p><a href="{% url 'post_detalle' id=post.ID_Post %}" class="btn btn-primary btn-sm">Learn more</a></p>
          </div>
        </div>
        <!-- Press Item -->
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}
