{% extends "base.html" %}
{% block title %}Crear Post{% endblock %}
{% block inicio %}<li class="active"><a href="#" data-nav-section="home"><span>Inicio</span></a></li>{% endblock %}
{% block content %}
<aside class="callout">
  <div class="text-vertical-center">
      <h1 style="color: #fff">Crear Post</h1>
  </div>
</aside>
{% if user.is_authenticated %}
{% if user.is_superuser %}
Binevenido {{ user.username }}<br>
<form method="POST" enctype = "multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="enviar">
</form>
{% endif %}
{% endif %}
{% endblock %}
