{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Cursos {% endblock %}
{% block inicio %}
<li><a href="{% url 'home' %}"><span>Inicio</span></a></li>
<li ><a href="{% url 'about_view' %}"><span>Acerca</span></a></li>
{% endblock %}
{% block carrousel %}
<div id="slider" data-section="home">
  <div class="owl-carousel owl-carousel-fullwidth">
    <!-- You may change the background color here. -->
    <div class="item" style="background: #33ccff">
      <div class=""></div>
      <div class="container" style="position: relative;">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text">
                <h1 class="fh5co-lead to-animate">Cursos y Clases</h1>
              <h3 class="fh5co-sub-lead to-animate">Aqui encontraras todo acerca de las clases y cursos que impartimos</h3>
              <p class="to-animate-2"><a href="#" data-nav-section="cursos" target="_blank" style="background-color: #00ace6" class="btn btn-primary btn-lg">Enterate!</a></p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="item" style="background: #7a7a7a;">
      <div class="container" style="position: relative;">
        <div class="row">
          <div class="col-md-7 col-sm-7">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text">
                <h1 class="fh5co-lead to-animate">¿Dudas o Preguntas? </h1>
              <h2 class="fh5co-sub-lead to-animate">Contactate con nosotros por telefono o envianos un correo</h3>
              <p class="to-animate-2"><a href="{% url 'contacto'%}" style="background-color: #595959" class="btn btn-primary btn-lg">Contactanos!</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 iphone-image">
            <div class="iphone to-animate-2"><img src="{% static 'images/contact.png' %}" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray" data-section= "cursos">
        <div class="container">
            <div class="row" style="margin-top: 35px">
              {% for item in object_list %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{item.ID_Curso}}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ item.imgen.url }}" class="img-responsive" alt="">
                    </a>
                      <div class="portfolio-caption">
                        <h4>{{item.curso}}</h4>
                        <p class="text-muted">Curso impartido por {{item.imparte}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Portfolio Modals -->
   <!-- Use the modals below to showcase details about your portfolio projects! -->

   <!-- Portfolio Modal 1 -->
   {% for item in object_list %}
   <div class="portfolio-modal modal fade" id="portfolioModal{{item.ID_Curso}}" tabindex="-1" role="dialog" aria-hidden="true">
       <div class="modal-content">
           <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                   <div class="rl">
                   </div>
               </div>
           </div>
           <div class="container">
               <div class="row">
                   <div class="col-lg-8 col-lg-offset-2">
                       <div class="modal-body">
                           <!-- Project Details Go Here -->
                           <h2>{{item.curso}}</h2>
                           <img class="img-responsive img-centered" src="{{item.imgen.url}}" alt="">
                           <p>{{item.desc}}</p>
                           <p>
                               <strong>Costo: </strong>{{item.costo}}</p>
                           <ul class="list-inline">
                               <li><strong>Fecha: </strong>{{item.fecha}}</li>
                               <li><strong>Empieza: </strong>{{item.horario_inicio}}</li>
                               <li><strong>Termina: </strong>{{item.horario_final}}</li>
                           </ul>
                           <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar </button>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
   {% endfor %}
{% endblock %}
