{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ post.titulo | title }} Detalle{% endblock %}
{% block inicio %}<li class="active"><a href="#" data-nav-section="home"><span>Inicio</span></a></li>{% endblock %}
{% block content %}
<aside class="callout" style="background: url({% static 'images/bg.png' %}) no-repeat center center scroll;">
  <div class="text-vertical-center">
      <h1 style="color: #fff">{{ post.titulo | title }}</h1>
  </div>
</aside>
<div class="container">
  <div class="row" >
    <div class="col-xs-12">
      <h3 style="text-align: center">Publicado en {{post.categorias}} por {{post.autor}}</h3>
      {% if post.post_imagen %}
      <div class="text-center">
        <img style="height: 350px" class="  img-rounded" src="{{post.post_imagen.url}}" alt="" />
      </div>
      {% endif %}
      <p style="text-align: center">{{ post.contenido | capfirst }}</p>
      {% if post.post_video %}
      <div class="video-container">
        <iframe width="560" height="315" src="{{ post.post_video }}" frameborder="0" allowfullscreen></iframe>
      </div>
      {% endif %}
      <p style="text-align: right;font-size: 12px;padding-right: 10pt">{{ post.creado }}</p>
      <div class="col-xs-6 col-xs-offset-6">
        <ul class="share-links" style="list-style-type: none;">
          <li class="facebook"><a style = "text-decoration: none; font-size: 26px;" href="https://www.facebook.com/sharer/sharer.php?u=https://carlosbeta.herokuapp.com/post_detalle/{{post.ID_Post}}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" ><span class="fa fa-facebook"></span></a></li>
          <li class="twitter"><a style = "text-decoration: none; font-size: 26px;" href="https://twitter.com/intent/tweet?url=https://carlosbeta.herokuapp.com/post_detalle/{{post.ID_Post}}"><span class="fa fa-twitter"></span></a></li>
          <li class="googleplus"><a style = "text-decoration: none; font-size: 26px;" href="https://plus.google.com/share?url={https://carlosbeta.herokuapp.com/post_detalle/{{post.ID_Post}}}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><span class="fa fa-google-plus"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div  style="margin-top: 100px;"class="container">
  {% if user.is_authenticated %}
    <button type="button" class="btn btn-default btnDef1 col-xs-2 col-xs-offset-4"><i class="icon-pencil"></i></button>
    <button type="button" class="btn btn-default btnDef2 col-xs-2"><i class="icon-remove"></i></button>
  {% endif%}
</div>
{% endblock %}
