{% extends "base.html" %}

{%load embed_video_tags %}
{% block title %}{{ post.titulo | title }} Detalle{% endblock %}
{% block page_title %}
  <div class="container-fluid">
    <h4 class="h4" style="text-align: center;">Detalle {{ post.post_titulo | title }}.</h4>
  </div>

  <div class="container-fluid">
    <label><br></label>
  </div>
{% endblock %}
{% block content %}

    {% if post.post_video %}
        <div class="row" >
          <div class="col-xs-12">
            <div class="thumbnail col-xs-12">
              <img src="{{ post.post_imagen.url }}" alt="" class="img-responsive" width="900">
              <h3 style="text-align: center">{{ post.titulo | title }}</h3>
              <h6 style="text-align: center">{{ post.categorias | title }}</h6>
              <p style="text-align: center">{{ post.contenido | capfirst }}</p>
             <center><src="{{ post.post_video }}" class="img-responsive"></center>
              <div class="caption" ></div>
              <p style="text-align: right;font-size: 12px;padding-right: 10pt">{{ post.creado }}</p>
              <!-- <p>
                <a href=""></a> <a href="#" class="btn btn-primary" role="button">Btn</a>
                <a href=""></a> <a href="#" class="btn btn-default" role="button">Btn</a>
              </p> -->

              <p ></p>
            </div>
          </div>
        </div>
    {% else %}
        <div class="row" >
          <div class="col-xs-12">
            <div class="thumbnail col-xs-12"><br>
              <div class="caption" ></div>
              <img src="{{ post.post_imagen.url }}" alt="" class="img-responsive" width="900">
              <h3 style="text-align: center">{{ post.titulo | title }}</h3>
              <h6 style="text-align: center">{{ post.categorias | title }}</h6>
              <p style="text-align: center">{{ post.contenido | capfirst }}</p>
              <p style="text-align: right;font-size: 12px;padding-right: 10pt">{{ post.creado }}
              <p><div class="fb-like" data-href="https://localhost:8000/post_detalle/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div></p>
              </p>
              <div class="caption" ></div>
            </div>
          </div>
        </div>
        <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=564744000354862";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    {% endif %}
{% endblock %}
