{% extends 'base.html' %}
{% block title %}Registro{% endblock %}
{% block content %}
<aside class="callout" style="background: url(../static/images/admin.jpg) no-repeat center center scroll;">
  <div class="text-vertical-center">
      <h1 style="color: #fff">Registro</h1>
  </div>
</aside>
<div class="row">
  {% if form.errors %}
  {{ form.errors }}
  {% endif %}
  <form role = "form" method="POST">
    {% csrf_token %}
    <div class="container text-center" style="padding-top: 15px;">
      <h2>Completa el formulario</h2>
      <hr style="padding-bottom: 15px;" class="small">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="form-group">
        <div class="input-group" data-validate="email">
          <input type="text" class="form-control" name="email" id="id_email" placeholder="Email" required>
          <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="text" maxlength="30" class="form-control" name="username" id="id_username" placeholder="Nombre de Usuario" required>
          <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="id_first_name" maxlength="30" name="first_name" type="text" placeholder="Nombre" required>
          <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="id_last_name" maxlength="30" name="last_name" type="text" placeholder="Apellido" required>
          <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group" data-validate = "password">
          <input type="password" class="form-control" name="password1" id="id_password1" placeholder="Contraseña" required>
          <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group" data-validate = "passwordv">
          <input type="password" class="form-control" name="password2" id="id_password2" placeholder="Confirmar Contraseña" required>
          <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
        </div>
      </div>
      <section title=".slideThree">
        <label for="validate-email">Administrador</label>
      <!-- .slideThree -->
        <div class="id_is_superuser">
          <input id="id_is_superuser" name="is_superuser" type="checkbox"  />
          <label for="id_is_superuser"></label>
        </div>
      <!-- end .slideThree -->
      </section>
      <div class="btn-group  col-xs-8 col-xs-push-2" role="group" aria-label="..." style="padding-left: 0px;padding-right: 0px;">
        <button type="submit" class="btn btn-default btnDef1 col-xs-6">Register</button>
        <button type="reset" class="btn btn-default btnDef2 col-xs-6">Cancel</button>
      </div>
    </div>
    </div>
  </form>
</div>

{% endblock %}
