{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Registrar Usuario {% endblock %}
{% block navigation %}
{% if user.is_authenticated %}
<li class="active"><a href="#" data-nav-section="home"><span>Inicio</span></a></li>
<li><a href="#" data-nav-section="press"><span>Blog</span></a></li>
<li><a href="#" ><span>Admin Panel</span></a></li>
<li><a href="#" ><span>Registros</span></a></li>
<li><a href="#" ><span>Contacto</span></a></li>
<li><a href="#" ><span>LogOut</span></a></li>
{% else %}
<li class="active"><a href="#" data-nav-section="home" style="color: blue"><span>Inicio</span></a></li>
<li><a href="localhost:8000/about/" data-nav-section="about" style="color: blue"><span>Acerca</span></a></li>
<li><a href="#" data-nav-section="press" style="color: blue"><span>Blog</span></a></li>
<li><a href="localhost:8000/contacto/" data-nav-section="contacto" style="color: blue"><span>Contacto</span></a></li>
<li><a href="#" style="color: blue"><span>LogIn/SignUp</span></a></li>
{% endif %}
{% endblock %}
{% block carrousel %}

{% endblock %}
{% block content %}
  {% if form.errors %}
  <h3>Error</h3>
  {{ form.errors }}
  {% endif %}

    <div class="row">
        <form method="POST"role="form">
          {% csrf_token %}
          <div class="container text-center" style="padding-top: 150px; color: #CACACA ">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="form-group float-label-control">
                <label for="id_username">Username</label>
                <input id="id_username" maxlength="30" name="username" type="text" />
            </div>
            <div class="form-group float-label-control">
              <label for="id_first_name">First name</label>
              <input id="id_first_name" maxlength="30" name="first_name" type="text" />
            </div>
            <div class="form-group float-label-control">
              <label for="id_last_name">Last name</label>
              <input id="id_last_name" maxlength="30" name="last_name" type="text" />
            </div>
            <div class="form-group float-label-control">
              <label for="id_password1">Password</label>
              <input id="id_password1" name="password1" type="password" />
            </div>
            <div class="form-group float-label-control">
              <label for="id_password2">Password confirmation</label>
              <input id="id_password2" name="password2" type="password" />
            </div>
            <div class="form-group float-label-control">
              <label for="id_mail">Mail</label>
               <input id="id_mail" name="mail" type="email" />
            </div>
            <div class="form-group float-label-control">
              <label for="id_phone">Phone</label>
              <input id="id_phone" name="phone" type="number" />
            </div>
          </div>
          <div class="btn-group  col-xs-8 col-xs-push-2" role="group" aria-label="..." style="padding-left: 0px;padding-right: 0px;">
            <button type="submit" class="btn btn-default btnDef1 col-xs-6">Register</button>
            <button type="reset" class="btn btn-default btnDef2 col-xs-6">Cancel</button>
          </div>
      </form>
    </div>
  </div>

{% endblock %}
